@{
    var maxNumberOfDaysBeforeKilling = 365;
    var showThis = true;
}
<h1>Auri</h1>
Number of Days Before Killing Enemy:
<select name="theOption">
    @for (var i = 0; i <= maxNumberOfDaysBeforeKilling; i++)
    {
        <option value="@i">@i</option>
    }
</select>

@if(showThis == true)
{
    <p>This is visible.</p>
}
